body {
    background-color: lightgray;
    color: red;
}

.caja {
    margin: 8px;
    padding: 8px;
    background-color: lightblue;
    border-style: solid;
    border-color: black;
    border-width: 8px;
    border-left-color: #aaf;
    border-radius: 8px;
    height: 100px;
    width: 100px;
    color: #575;
}



/* #parrafo {
    color: yellow;
}

.etiqueta {
    color: blue;
}
 */
